$primary-font:'Trebuchet MS',
'Lucida Sans Unicode',
'Lucida Grande',
'Lucida Sans',
Arial,
sans-serif;

// Dark Back Color
$dark-backcolor-1:#333;
$dark-backcolor-2:#0e12ec;


// Light Back Color
$light-backcolor-1:rgb(255, 255, 255);
$light-backcolor-2:#e6f700;

//Hover Back Color
$hover-backcolor-1: #ddd;

//Light Font Color
$light-fontcolor-1: #f2f2f2;

//Dark Font Color
$dark-fontcolor-1: black;